@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(to right, #60a5fa, #fff);
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
